<table class='table'>
  <thead>
    <tr>
      <th>Nutrient Name</th>
      <th>Amount</th>
      <th>Derivation Description</th>
    </tr>
  </thead>
  <tbody>
    <% if nutrients %>
      <% nutrients.each do |nutrient| %>
        <tr id='fdcId-<%=fdicId%>-nutrient-<%=nutrient[:nutrientId]%>'>
          <td><%=nutrient[:nutrientName]%></td>
          <td><%=nutrient[:value]%> <%=nutrient[:unitName]%></td>
          <td><%=nutrient[:derivationDescription]%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
