<h3>Foods</h3>
<h4>Total Foods Found: <%= @hits %></h4>
<h4>First 10 resaults from search: </h4>
<div class="foods">
  <% @foods.each do |food| %>
    <li>
      <p>UPC code: <%= food.gtinupc %></p>
      <p>Description: <%= food.description %></p>
      <p>Brand owner: <%= food.brand_owner %></p>
      <p>Ingredients: <%= food.ingredients %></p>
    </li>
  <% end %>
</div>
