<h1>Data on <%= @queried_food %></h1>

<h2>Total number of items for <%= @queried_food %> is: <%= @count_total_results %></h2>

<h3 style="color: red">Top Ten Search Results:</h3>
<section id="ten_food_results">
  <% @found_foods.each do |food| %>
    <div style="font-weight: bold;">GTIN/UPC code: <%= food.gtinUpc %></div><br/>
    <p>Description: <%= food.description %></p><br/>
    <p>Brand Owner: <%= food.brandOwner %></p><br/>
    <p>Ingredient(s): <%= food.ingredients %></p><br/>
  <% end %>
</section>
