<% if @search_result_count >= 10000 %>
  <h3>Number of Results: <%= @search_result_count %> +</h3>
<% else %>
  <h3>Number of Results: <%= @search_result_count %></h3>
<% end %>
<br>
<h3>Results: <% @foods.take(10).each do |food| %></h3>
  <p>GTIN/UPC: <%= food.gtin_upc %></p>
  <p>Description: <%= food.description %></p>
  <p>Brand Owner: <%= food.brand_owner %></p>
  <p>Ingredients: <%= food.ingredients %></p>
  <br>
<% end %>