<%= render partial: '/partials/search_nav_bar' %>

<h3>Total Results: <%= @total_hits %></h3>

<h5>Top Ten Results: </h5>

<table>
  <th>GTIN/UPC Code</th>
  <th>Description</th>
  <th>Brand Owner</th>
  <th>Ingredients</th>
  <% @top_ten_foods.each do |food| %>
    <tr>
      <td><%= food.gtin_upc %></td>
      <td><%= food.description %></td>
      <td><%= food.brand_owner %></td>
      <td><%= food.ingredients %></td>
    </tr>
  <% end %>
</table>
