<h1><%= @results %></h1>

<section class="container">
  <% @foods.each do |food| %>
    <span><p>gtinUPC#: <%= food.gtinUpc %></p></span>
    <span><p>description: <%= food.description %></p></span>
    <span><p>brandowner: <%= food.brandOwner%></p></span>
    <span><p>ingredients: <%= food.ingredients%></p></span>
  <% end %>
</section>
