<h1><%= @results %></h1>

<section class="container">
    <span><p>gtinUPC#: <%= @foods.gtinUpc %></p></span>
    <span><p>description: <%= @foods.description %></p></span>
    <span><p>brandowner: <%= @foods.brandOwner%></p></span>
    <span><p>ingredients: <%= @foods.ingredients%></p></span>
</section>
